body {
  font-family: "Noto Sans", sans-serif;
}

.navbar {
  background: #61cbcb !important;
}

.nav-link {
  color: black;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 30vh;
  flex-direction: column;
}
header h2 {
  margin: 10px;
  font-size: larger;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

.btn:hover {
  background-color: RoyalBlue;
}
section {
  height: 70vh;
}
.card {
  /* height: 60vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 300px;
  background-color: #c7ffff;
  margin: auto;
}
.fileicon {
  width: 100px;
  height: 100px;
  font-size: 100px;
  text-align: center;
}
.card .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card .container h4 {
  padding: 8px;
  text-align: center;
}
.custom-file-upload {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 6px 10px;
  width: 40%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card h2 {
  text-align: center;
  font-size: larger;
  padding: 0 0 10px 0;
}

.submit-btn {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-icon {
  padding-right: 5px;
}
.modal-wrapper {
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.modal-wrapper.open {
  opacity: 1;
  z-index: 999 !important;
}

.modal {
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 380px;
  max-width: 95%;
}

.modal-body {
  padding: 15px 20px;
}
