body {
  font-family: "Noto Sans", sans-serif;
}

.navbar {
  background: #61cbcb !important;
}

.nav-link {
  color: black;
}
.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.btn-group button {
  background-color: #499e9e;
  border: 1px solid green;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  float: left;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */

.btn-group button:hover {
  background-color: #61cbcb;
}

.language-table,
.page-table,
.label-table,
.page-map-table {
  display: none;
}

.table-div {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
  /* flex-direction: column; */
}

/* .container {
  width: 100%;
  margin: auto;
}

table {
  width: 100%;
  margin: auto;
} */

.message {
  font-size: 70px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}
